.navbar-nav{
	border-style: all white;
}

h2{
	margin-top: 10px;
	margin-bottom: 20px;
}
h5{
	text-align: center;
	margin-top: 3px;
	margin-bottom: 3px;
}
.contain-text{
	background-color: gray;
	margin-bottom: 10px;
	margin-top: 3px;
}
@media (max-width: 575px) and (min-width: 100px) {
	.row{
		padding-right: 10px;
		padding-left: 10px;
	}
}