* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.heading {
	text-align: center;
	font-family: cursive;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 15px;
	font-size: 25px;
}
.row {
	width: 100%;
	display: inline-block;
	margin: 0px 10px 10px 10px;
}
.box {
	position: relative;
	border: 1px solid black;
	margin: 10px;
	background-color: grey;
	height: auto;
	display: inline-block;
}
.title {
	border: 1px solid black;
	width: 30%;
	height: 25px;
	position: absolute;
	top:-1px;
	right: -1px;
	font-family: cursive;
	text-align: center;
	font-weight: bold;
}
.content {
	position: relative;
	margin-top: 30px;
	padding: 0px 10px 0px 10px;
}
#p1 {
	background-color: #F678D0;
}
#p2 {
	
}
#p3 {
	background-color: #F34A4D;
	color: white;
}
#p4 {

}
#p5 {
	background-color: #E3EF62;
}
#p6 {
}
/* Large screen settings */ 
@media (min-width: 992px) {
	.box {
		float: left;
		width: 30%;
		height:150px;
	}
}
/* Medium screen settings */ 
@media (min-width: 768px) and (max-width: 991px) {
	.box {
		float: left;
		width: 45%;
		height: 150px;
	}
	#box3 {
		width: 93%;
		margin: 10px 0px 10px 10px;
	}
}
/* Small screen settings */ 
@media (max-width: 767px) {
	.box {
		width: 90%;
	}
}